@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Titan+One&display=swap');


.brygada-1918-400 {
    font-family: "Brygada 1918", serif;
    font-weight: 400;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;

}

.inter-light {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: left;
}

.inter-light-100 {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
}

.image-size {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.logo {
    transition: transform 1s ease-in-out;
}

.animate .logo {
    transform: scale(0.4);
}

.text-and-button {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-top: 20px;
}

.animate .text-and-button {
    opacity: 1;
}